@import './colors.scss';

.article * {
    margin: 0;
    padding: 0;
}

.article {
    margin-bottom: 3rem;
    border-bottom: 1px solid $article-item-separator-color;
}

.article__cover {
    height: auto;
    width: 100%;

    border-radius: 4px;
    box-shadow: 0 0 30px 0 $article-item-image-shadow-color;
}

.article__link {
    text-decoration: none;
}

.article__title {
    margin: 1.2rem 0;
    color: $article-item-title-color;
}

.article__description {
    margin-top: 0.8rem;
    padding-bottom: 2rem;
    color: $article-item-description-color;
}

// Remove line separator and padding for the last article in the list
.article:last-of-type {
    border: none;

    .article__description {
        padding: 0;
    }
}