// Blocks of elements
$article-item-title-color: rgba(#1a1a1a, 1);
$article-item-byline-color: rgba(#4d4d4d, 1);
$article-item-description-color: rgba(#333333, 1);
$article-item-image-shadow-color: rgba(#000000, 0.5);
$article-item-separator-color: rgba(#c8c8c8, 1);

$article-tag-title-color: rgba(#4d4d4d, 1);
$article-tag-outline-color: rgba(#4b4b4b, 1);
$article-tag-background-color: rgba(#1d2d33, 1);
$article-tag-hover-background-color: rgba(#3a5a66, 1);

$background-color: rgba(#f2f2f2, 1);
$background-card-color: rgba(#f5f5f5, 1);
$background-shadow-color: rgba(#000000, 0.15);

$footer-background-color: rgba(#1d2d33, 1);
$footer-text-color: rgba(#ffffff, 1);

$header-background-color: rgba(#1d2d33, 1);
$header-title-color: rgba(#ffffff, 1);
$header-link-color: rgba(#0045c2, 1);
$header-shadow-color: rgba(#1d2d33, 0.3);

$paginator-link-color: rgba(#000000, 1);
$paginator-link-background-color: transparent;
$paginator-link-hover-background-color: rgba(#cddde1, 1);
$paginator-current-color: rgba(#ffffff, 1);
$paginator-current-background-color: rgba(#2f4953, 1);
$paginator-navigator-color: rgba(#000000, 1);
$paginator-navigator-hover-color: rgba(#2f4953, 1);

$tag-badge-background-color: rgba(#1d6065, 1);
$tag-badge-text-color: rgba(#ffffff, 1);


// Common HTML elements for reading section
$link-color: rgba(#20606c, 1);
$link-visited-color: rgba(#551a8b, 1);
$link-active-color: rgba(#5f9090, 1);

$pre-background-color: rgba(#d9dde0, 1);

$table-thead-background-color: rgba(#343f44, 1);
$table-border-color: rgba(#ccc, 1);
$table-tr-background-darker-color: rgba(#e3e3e3, 1);

// Code block
$code-font-default-color: rgba(#f8f8f2, 1);
$code-background-color: rgba(#272822, 1);
$code-line-background-color: rgba(#3b3b42, 1);
$code-error-color: rgba(#960050, 1);
$code-error-background-color: rgba(#1e0010, 1);
$code-keyword-color: rgba(#66d9ef, 1);
$code-keyword-constant-color: rgba(#66d9ef, 1);
$code-keyword-declaration-color: rgba(#66d9ef, 1);
$code-keyword-namespace-color: rgba(#f92672, 1);
$code-keyword-pseudo-color: rgba(#66d9ef, 1);
$code-keyword-reserved-color: rgba(#66d9ef, 1);
$code-keyword-type-color: rgba(#66d9ef, 1);
$code-name-attribute-color: rgba(#a6e22e, 1);
$code-name-class-color: rgba(#a6e22e, 1);
$code-name-constant-color: rgba(#66d9ef, 1);
$code-name-decorator-color: rgba(#a6e22e, 1);
$code-name-exception-color: rgba(#a6e22e, 1);
$code-name-function-color: rgba(#a6e22e, 1);
$code-name-other-color: rgba(#a6e22e, 1);
$code-name-tag-color: rgba(#f92672, 1);
$code-literal-color: rgba(#ae81ff, 1);
$code-literal-date-color: rgba(#e6db74, 1);
$code-literal-string-color: rgba(#e6db74, 1);
$code-literal-string-affix-color: rgba(#e6db74, 1);
$code-literal-string-backtick-color: rgba(#e6db74, 1);
$code-literal-string-char-color: rgba(#e6db74, 1);
$code-literal-string-delimiter-color: rgba(#e6db74, 1);
$code-literal-string-doc-color: rgba(#e6db74, 1);
$code-literal-string-double-color: rgba(#e6db74, 1);
$code-literal-string-escape-color: rgba(#ae81ff, 1);
$code-literal-string-heredoc-color: rgba(#e6db74, 1);
$code-literal-string-interpol-color: rgba(#e6db74, 1);
$code-literal-string-other-color: rgba(#e6db74, 1);
$code-literal-string-regex-color: rgba(#e6db74, 1);
$code-literal-string-single-color: rgba(#e6db74, 1);
$code-literal-string-symbol-color: rgba(#e6db74, 1);
$code-literal-number-color: rgba(#ae81ff, 1);
$code-literal-number-bin-color: rgba(#ae81ff, 1);
$code-literal-number-float-color: rgba(#ae81ff, 1);
$code-literal-number-hex-color: rgba(#ae81ff, 1);
$code-literal-number-integer-color: rgba(#ae81ff, 1);
$code-literal-number-integer-long-color: rgba(#ae81ff, 1);
$code-literal-number-oct-color: rgba(#ae81ff, 1);
$code-operator-color: rgba(#f92672, 1);
$code-operator-word-color: rgba(#f92672, 1);
$code-comment-color: rgba(#75715e, 1);
$code-comment-hashbang-color: rgba(#75715e, 1);
$code-comment-multiline-color: rgba(#75715e, 1);
$code-comment-single-color: rgba(#75715e, 1);
$code-comment-special-color: rgba(#75715e, 1);
$code-comment-preproc-color: rgba(#75715e, 1);
$code-comment-preproc-file-color: rgba(#75715e, 1);
$code-generic-deleted-color: rgba(#f92672, 1);
$code-generic-inserted-color: rgba(#a6e22e, 1);
$code-generic-subheading-color: rgba(#75715e, 1);