@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
         local("Montserrat-Medium"),
         url("/fonts/Montserrat/Montserrat-Medium.ttf");
}

// Font families
$default-font: "Segoe UI", "Verdana", "Arial", sans-serif;
$reading-font: "Segoe UI", "Verdana", "Arial", sans-serif;
$heading-font: "Montserrat", "Verdana", "Arial", sans-serif;
$code-font: "Lucida Console", monospace;

// Sizes
$byline-font-size: 0.8em;

$code-font-size: 1.4rem;

$header-title-font-size: 1.8em;
$header-1-font-size: 1.6em;
$header-2-font-size: 1.3em;
$header-3-font-size: 1.2em;
$header-4-font-size: 1.1em;
$header-5-font-size: 1.1em;
$header-6-font-size: 1.1em;

$tags-font-size: 1.2rem;
$tags-title-font-size: 0.9em;