@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
         local("Montserrat-Medium"),
         url("/fonts/Montserrat/Montserrat-Medium.ttf");
}

/* General fonts go here and special fonts go to individual SCSS files */
body * {
    font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
}

.reading-font, .reading-font * {
    font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
    line-height: 1.6;
}