@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
         local("Montserrat-Medium"),
         url("/fonts/Montserrat/Montserrat-Medium.ttf");
}

// Variables
$default-font: "Segoe UI", "Verdana", "Arial", sans-serif;
$reading-font: "Segoe UI", "Verdana", "Arial", sans-serif;
$heading-font: "Montserrat", "Verdana", "Arial", sans-serif;
$code-font: "Lucida Console", monospace;