@import './colors.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    min-height: 12rem;
    background-color: $footer-background;
    z-index: 100;
}

.footer * {
    color: $footer-text;
}

.footer__pages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__pages > li {
    display: inline-block;
    padding-left: 0.75rem;
}

.footer__pages > li:nth-child(1) {
    padding: 0;
}

.footer__pages > li::before {
    content: "•";
    padding-right: 0.75rem;
}

.footer__pages > li:nth-child(1)::before {
    content: unset;
    padding: 0;
}

.footer__pages__item {
    text-decoration: none;
}