@import './colors.scss';

.header {
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-background;
    box-shadow: 0 0 1px 3px $header-shadow;
    z-index: 100;
}

.header__title {
    color: $header-title;
    text-decoration: none;
}

.header__title * {
    margin: 0;
    font-family: "Montserrat", "Verdana", "Arial", sans-serif;
}