@import './article_item.scss';
@import './colors.scss';

.main {
    flex: 1 0 auto;
}

.main-container {
    margin: auto;
    padding: 16px;
    flex: 1 0 0;

    width: 100%;
    background-color: $background-card-color;
    border: none;
    max-width: 880px;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    .main-container {
        padding: 40px;
    }
}

@media (min-width: 900px) {
    .main-container {
        margin: 4rem auto;
        padding: 40px 60px;
        border-radius: 1rem;
        border: 1px solid $background-shadow-color;
        box-shadow: 0 0 20px $background-shadow-color;
    }
}


// General style for headers
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Verdana", "Arial", sans-serif !important;
}


// Styles for the reading section
.reading-zone {
    a:link {
        color: $link-color;
    }

    a:visited {
        color: $link-visited-color;
    }

    a:hover {
        color: $link-color;
    }

    a:active {
        color: $link-active-color;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 4rem 0 1rem 0;
    }

    code, code * {
        font-family: "Lucida Console", monospace;
    }

    // Hack to avoid to select code blocks
    pre:not(.chroma) {
        padding: 10px;
        border-radius: 3px;
        white-space: normal;
        background-color: $pre-background-color;
    }

    // Hack to avoid to select code blocks
    table:not(.lntable) {
        display: inline-block;
        max-width: 100%;
        border-collapse: collapse;
        box-sizing: border-box;
        overflow: auto;

        tr:nth-child(2n) {
            background-color: $table-tr-background-darker-color;
        }

        thead {
            color: white;
            background-color: $table-thead-background-color;

            * {
                font-family:  "Montserrat", "Verdana", "Arial", sans-serif;
            }
        }

        th, td {
            border: 1px solid $table-border-color;
            padding: 4px 15px;
        }
    }

    img {
        max-width: 100%;
        border-radius: 3px;
    }
}