@import './colors.scss';

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0;
    height: 7rem;
    max-width: 450px;

    list-style: none;
}

.paginator__page {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}

// Page numbers
.paginator__page__link {
    height: 3rem;
    width: 3rem;

    color: $paginator-link-color;
    border-radius: 50%;
    background-color: $paginator-link-background-color;

    text-align: center;
    text-decoration: none;
    line-height: 3rem;
}

.paginator__page__link:hover {
    background-color: $paginator-link-hover-background-color;
}

.paginator__page__link--current {
    color: $paginator-current-color;
    background-color: $paginator-current-background-color !important;
}

// Side link navigators
.paginator__page__navigator {
    color: $paginator-navigator-color;
    height: 3rem;
    line-height: 3rem;
    text-decoration: none;
    text-transform: uppercase;
}

.paginator__page__navigator:hover {
    color: $paginator-navigator-hover-color;
}

.paginator__page__navigator:focus {
    outline: 1px dotted black;
    outline-offset: 0.2rem;
}

.paginator__page__navigator:active {
    color: $paginator-navigator-hover-color;
    outline: none;
}

.paginator__page__navigator--disabled {
    visibility: hidden;
}