/* 
    Styles for code blocks. It's a bit hacky because I have
    no control over the generation of the HTML code block
*/
@import 'colors';
@import 'fonts';

@mixin user-select($value) {
    -moz-user-select: $value;
    -webkit-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

.highlight {
    margin: 18px 0;
    font-size: $code-font-size;

    .chroma {
        color: $code-font-default-color;
        background-color: $code-background-color;
        border-radius: 3px;
        overflow: auto;

        .lntable {
            border-spacing: 0;
            overflow: auto;

            // Rows
            .lntd {
                .chroma {
                    margin: 5px 0;
                }
            }

            // Line number row
            .lntd:nth-child(1) {
                padding: 0 8px;
                background-color: $code-line-background-color;
                position: sticky;
                left: 0;
                @include user-select(none); // Disable text selection

                .chroma {
                    // Hack for disabling background color to avoid to set the background color twice
                    background-color: unset;
                }
            }

            // Code row
            .lntd:nth-child(2) {
                padding: 0 10px;
                vertical-align: top;
            }
        }



        // SYNTAX COLORS

        // Error
        .err {
            color: $code-error-color;
            background-color: $code-error-background-color;
        }

        // Keyword
        .k {
            color: $code-keyword-color;
        }

        // KeywordConstant
        .kc {
            color: $code-keyword-constant-color;
        }

        // KeywordDeclaration
        .kd {
            color: $code-keyword-declaration-color;
        }

        // KeywordNamespace
        .kn {
            color: $code-keyword-namespace-color;
        }

        // KeywordPseudo
        .kp {
            color: $code-keyword-pseudo-color;
        }

        // KeywordReserved
        .kr {
            color: $code-keyword-reserved-color;
        }

        // KeywordType
        .kt {
            color: $code-keyword-type-color;
        }

        // NameAttribute
        .na {
            color: $code-name-attribute-color;
        }

        // NameClass
        .nc {
            color: $code-name-class-color;
        }
        
        // NameConstant
        .no {
            color: $code-name-constant-color;
        }
        
        // NameDecorator
        .nd {
            color: $code-name-decorator-color;
        }
        
        // NameException
        .ne {
            color: $code-name-exception-color;
        }
        
        // NameFunction
        .nf {
            color: $code-name-function-color;
        }
        
        // NameOther
        .nx {
            color: $code-name-other-color;
        }
        
        // NameTag
        .nt {
            color: $code-name-tag-color;
        }
        
        // Literal
        .l {
            color: $code-literal-color;
        }
        
        // LiteralDate
        .ld {
            color: $code-literal-date-color;
        }
        
        // LiteralString
        .s {
            color: $code-literal-string-color;
        }
        
        // LiteralStringAffix
        .sa {
            color: $code-literal-string-affix-color;
        }
        
        // LiteralStringBacktick
        .sb {
            color: $code-literal-string-backtick-color;
        }
        
        // LiteralStringChar
        .sc {
            color: $code-literal-string-char-color;
        }
        
        // LiteralStringDelimiter
        .dl {
            color: $code-literal-string-delimiter-color;
        }
        
        // LiteralStringDoc
        .sd {
            color: $code-literal-string-doc-color;
        }
        
        // LiteralStringDouble
        .s2 {
            color: $code-literal-string-double-color;
        }
        
        // LiteralStringEscape
        .se {
            color: $code-literal-string-escape-color;
        }
        
        // LiteralStringHeredoc
        .sh {
            color: $code-literal-string-heredoc-color;
        }
        
        // LiteralStringInterpol
        .si {
            color: $code-literal-string-interpol-color;
        }
        
        // LiteralStringOther
        .sx {
            color: $code-literal-string-other-color;
        }
        
        // LiteralStringRegex
        .sr {
            color: $code-literal-string-regex-color;
        }
        
        // LiteralStringSingle
        .s1 {
            color: $code-literal-string-single-color;
        }
        
        // LiteralStringSymbol
        .ss {
            color: $code-literal-string-symbol-color;
        }
        
        // LiteralNumber
        .m {
            color: $code-literal-number-color;
        }
        
        // LiteralNumberBin
        .mb {
            color: $code-literal-number-bin-color;
        }
        
        // LiteralNumberFloat
        .mf {
            color: $code-literal-number-float-color;
        }
        
        // LiteralNumberHex
        .mh {
            color: $code-literal-number-hex-color;
        }
        
        // LiteralNumberInteger
        .mi {
            color: $code-literal-number-integer-color;
        }
        
        // LiteralNumberIntegerLong
        .il {
            color: $code-literal-number-integer-long-color;
        }
        
        // LiteralNumberOct
        .mo {
            color: $code-literal-number-oct-color;
        }
        
        // Operator
        .o {
            color: $code-operator-color;
        }
        
        // OperatorWord
        .ow {
            color: $code-operator-word-color;
        }
        
        // Comment
        .c {
            color: $code-comment-color;
        }
        
        // CommentHashbang
        .ch {
            color: $code-comment-hashbang-color;
        }
        
        // CommentMultiline
        .cm {
            color: $code-comment-multiline-color;
        }
        
        // CommentSingle
        .c1 {
            color: $code-comment-single-color;
        }
        
        // CommentSpecial
        .cs {
            color: $code-comment-special-color;
        }
        
        // CommentPreproc
        .cp {
            color: $code-comment-preproc-color;
        }
        
        // CommentPreprocFile
        .cpf {
            color: $code-comment-preproc-file-color;
        }
        
        // GenericDeleted
        .gd {
            color: $code-generic-deleted-color;
        }
        
        // GenericEmph
        .ge {
            font-style: italic;
        }
        
        // GenericInserted
        .gi {
            color: $code-generic-inserted-color;
        }
        
        // GenericStrong
        .gs {
            font-weight: bold;
        }
        
        // GenericSubheading
        .gu {
            color: $code-generic-subheading-color;
        }    
    }
}