@import 'colors';

ul.ul-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.all-tags__item {
    margin: 2rem 0;
}

.all-tags__badge {
    margin-right: 1rem;
    padding: 0.2rem 1.2rem;
    color: $tag-badge-text-color;
    background-color: $tag-badge-background-color;
    border-radius: 50rem;
}