@import './colors.scss';

.byline {
    margin: 0.8rem 0;
    color: $article-item-byline;
    font-size: 1.2rem;
}

.byline__author {
    font-weight: bold;
}

.byline__publication-date::before {
    content: "•";
}