$article-item-title: #1a1a1aff;
$article-item-byline: #4d4d4dff;
$article-item-description: #333333ff;
$article-item-separator: #c8c8c8ff;

$article-tag-title: #4d4d4dff;
$article-tag-outline: #4b4b4bff;
$article-tag-background: #1d2d33ff;
$article-tag-hover-background: #3a5a66ff;

$background: #f6f5ffff;

$footer-background: #1d2d33ff;
$footer-text: #ffffff;

$header-background: #1d2d33ff;
$header-title: #ffffff;

$paginator-background: #f6f5ffff;
$paginator-link: #000000ff;
$paginator-link-background: transparent;
$paginator-link-hover-background: #cddde1ff;
$paginator-current: #ffffffff;
$paginator-current-background: #2f4953ff;
$paginator-navigator-hover: #2f4953ff;