$background: #f6f5ffff;

$header-background: #1d2d33ff;
$header-title: #ffffff;

$footer-background: #1d2d33ff;
$footer-text: #ffffff;

$article-item-title: #1a1a1aff;
$article-item-byline: #4d4d4dff;
$article-item-description: #333333ff;
$article-item-separator: #c8c8c8ff;