$article-item-title: rgba(#1a1a1a, 1);
$article-item-byline: rgba(#4d4d4d, 1);
$article-item-description: rgba(#333333, 1);
$article-item-separator: rgba(#c8c8c8, 1);

$article-tag-title: rgba(#4d4d4d, 1);
$article-tag-outline: rgba(#4b4b4b, 1);
$article-tag-background: rgba(#1d2d33, 1);
$article-tag-hover-background: rgba(#3a5a66, 1);

$background: rgba(#f6f5ff, 1);

$footer-background: rgba(#1d2d33, 1);
$footer-text: rgba(#ffffff, 1);

$header-background: rgba(#1d2d33, 1);
$header-title: rgba(#ffffff, 1);
$header-link: rgba(#0045c2, 1);

$paginator-background: rgba(#f6f5ff, 1);
$paginator-link: rgba(#000000, 1);
$paginator-link-background: transparent;
$paginator-link-hover-background: rgba(#cddde1, 1);
$paginator-current: rgba(#ffffff, 1);
$paginator-current-background: rgba(#2f4953, 1);
$paginator-navigator: rgba(#000000, 1);
$paginator-navigator-hover: rgba(#2f4953, 1);

$tag-badge-background: rgba(#1d6065, 1);
$tag-badge-text: rgba(#ffffff, 1);