@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
         local("Montserrat-Medium"),
         url("/fonts/Montserrat/Montserrat-Medium.ttf");
}

/* General fonts go here and special fonts go to individual SCSS files */
body * {
    font-family: "Verdana", "Arial", sans-serif;
}

.reading-font, .reading-font * {
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 1.6;
}

@media (min-width: 600px) {
    .reading-font, .reading-font * {
        font-size: 1.8rem;
    }
}