@import './colors.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: $header-background;
}

.header__title {
    color: $header-title;
    font-size: 1.5rem;
    text-decoration: none;
}

.header__title > h1 {
    margin: 0;
    font-weight: lighter;
}