@import './article_item.scss';

.main {
    flex: 1 0 auto;
}

.main-container {
    margin: auto;
    padding: 16px;
    flex: 1 0 0;

    width: 100%;
    background-color: $background-card;
    box-sizing: border-box;
    max-width: 800px;
}

@media (min-width: 500px) {
    .main-container {
        padding: 40px;
    }
}

@media (min-width: 900px) {
    .main-container {
        margin: 4rem auto;
        padding: 40px 60px;
        border-radius: 1rem;
        box-shadow: 0 0 20px $background-shadow;
    }
}