@import './colors.scss';

html {
    margin: 0;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    background-color: $background;
}

body * {
    font-family: Helvetica, Arial, sans-serif;
}

@import './footer.scss';
@import './header.scss';
@import './main.scss';
@import './paginator.scss';
@import './reading-font.scss';
@import './single.scss';
@import './tag_list.scss';
@import './tag_terms.scss'