@import './colors.scss';

html {
    margin: 0;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    background-color: $background;
}

@import './byline.scss';
@import './footer.scss';
@import './header.scss';
@import './main.scss';
@import './paginator.scss';
@import './fonts.scss';
@import './single.scss';
@import './tag_list.scss';
@import './tag_terms.scss'