@import 'colors';

html {
    margin: 0;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    background-color: $background;
}

@import 'byline';
@import 'footer';
@import 'header';
@import 'main';
@import 'paginator';
@import 'fonts';
@import 'single';
@import 'syntax-highlighter';
@import 'tag_list';
@import 'tag_terms';