@import './colors.scss';

.title {
    margin: 0;
    margin-bottom: 1.6rem;
    text-align: center;
}

.title-link {
    color: $header-link;
    text-decoration: none;
}

.title-2 {
    font-weight: normal;
    font-size: 2.6rem;
}

.title-3 {
    font-weight: lighter;
}

.title-3::before {
    content: "⏎";
    padding-right: 1rem;
}