{{- $displayPublishDate := printf "%d de %s de %d" .Date.Day (index .Site.Data.meses (printf "%d" .Date.Month)) .Date.Year -}}
{{- $publishDate := .Date.Format "2006-01-02" -}}
{{- $author := "Anónimo" -}}

{{- if and (isset .Params "author") (ne .Params.author "") -}}
    {{- $author = .Params.author -}}
{{- end -}}

<p class="byline">
    Por <span class="byline__author">{{ print $author }}</span>
    <span class="byline__publication-date">
        Publicado el <time dateTime="{{ print $publishDate }}">{{ print $displayPublishDate }}</time>
    </span>
</p>