<footer class="footer">
    {{- if isset .Site.Params "footerlinks" -}}
        {{- if gt (len .Site.Params.footerLinks) 0 -}}
            <nav>
                <ul class="footer__pages">
                    {{- range .Site.Params.footerLinks -}}
                        {{- with $.Site.GetPage "section" . -}}
                            <li><a class="footer__pages__item" href="{{ .Permalink | relURL }}">{{ .Title }}</a></li>
                        {{- else -}}
                            <li>{{ . }}</li>
                        {{- end -}}
                    {{- end -}}
                </ul>
            </nav>
        {{- end -}}
    {{- end -}}
    <div>
        {{- partial "copyright.html" . -}}
    </div>
</footer>