{{/*
    Implementation of a smart paginator. The main limitation is that it only works
    with an odd size (3, 5, 7, etc).

    Use: this partial needs a .Paginator as context (.)
*/}}

{{/*
    Number of adjacent items. For example if you set it to 3 it'll be:
    3 previous pages + current page + 3 next pages = 7 pages long for the paginator
*/}}
{{- $adjacentPages := 2 -}}

{{- $paginatorSize := add (mul 2 $adjacentPages) 1 -}}
{{- $displayPagers := .Pagers -}}
{{- $inLeftSide := le (sub .PageNumber $adjacentPages) 1 -}}
{{- $inRightSide := lt (sub .TotalPages .PageNumber) $adjacentPages -}}

{{- if $inLeftSide -}}
    {{- $displayPagers = first $paginatorSize .Pagers -}}
{{- else if $inRightSide -}}
    {{- $displayPagers = last $paginatorSize .Pagers -}}
{{- else -}}
    {{/* Paginator is in the middle */}}
    {{- $startIndex := sub .PageNumber $adjacentPages -}}
    {{- $skipPagers := sub $startIndex 1 -}}
    {{- $displayPagers = first $paginatorSize (after $skipPagers .Pagers) -}}
{{- end -}}

<nav>
    <ul class="paginator">
        <li class="paginator__page">
            {{- if .HasPrev -}}
                <a class="paginator__page__navigator" href="{{ .Prev.URL }}">Atrás</a>
            {{- else -}}
                <span class="paginator__page__navigator paginator__page__navigator--disabled">Atrás</span>
            {{- end -}}
        </li>

        {{- range $displayPagers -}}
            <li class="paginator__page">
                {{- if eq $.PageNumber .PageNumber -}}
                        <span class="paginator__page__link paginator__page__link--current">{{ .PageNumber }}</span>
                {{- else -}}
                        <a class="paginator__page__link" href="{{ .URL }}">{{ .PageNumber }}</a>
                {{- end -}}
            </li>
        {{- end -}}

        <li class="paginator__page">
            {{- if .HasNext -}}
                <a class="paginator__page__navigator" href="{{ .Next.URL }}">Siguiente</a>
            {{- else -}}
                <span class="paginator__page__navigator paginator__page__navigator--disabled">Siguiente</span>
            {{- end -}}
        </li>
    </ul>
</nav>