{{- define "main" -}}
    <div class="main-container">
        <main class="main">
            <h2 class="title title-2 header-2">{{ T "TaggedAs" . | safeHTML }}</h2>
            {{- $tags := "tags" -}}
            <a href="{{ $tags | relURL }}" class="title-link"><h3 class="title title-3">{{ T "SeeAllTags" }}</h3></a>
            {{- $paginator := .Paginator -}}
            {{- range $paginator.Pages -}}
                {{ partial "article_item.html" . }}
            {{- end -}}
        </main>
        {{- partial "paginator.html" $paginator -}}
    </div>
{{- end -}}